.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.Map {
  display: grid;
  grid-gap: 1px;
}

.Map__cell {
  width: 24px;
  height: 24px;
  background-color: rgb(215, 231, 250);
  transition: transform 0.15s;
}

.Map__cell:hover {
  transform: scale(1.2);
  background-color: rgb(241, 74, 74);
  cursor: pointer;
}

.Map__snake,
.Map__snake:hover {
  background-color: rgb(0, 184, 31);
  transform: scale(1);
  cursor: not-allowed;
}
