.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.NewGame {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.NewGame__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
}

.NewGame__select label {
  font-size: 20px;
  font-weight: 700;
  margin-right: 16px;
  white-space: nowrap;
}

.NewGame__select select {
  font-size: 20px;
  font-weight: 600;
  padding: 0.5rem;
  width: 120px;
}

.NewGame__button {
  font-size: 24px;
  font-weight: 400;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 4px;
  outline: 0;
  background-color: rgb(55, 218, 14);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.ScoreTable {
  display: flex;
  justify-content: center;
  width: 600px;
  color: rgb(63, 63, 63);
}

.GameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GameOver__title {
  font-size: 64px;
  font-weight: 700;
}

.GameOver__score {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
  color: rgb(0, 184, 31);
}

.GameOver__button {
  font-size: 24px;
  font-weight: 400;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 4px;
  outline: 0;
  background-color: rgb(62, 113, 255);
  color: rgb(230, 230, 230);
  cursor: pointer;
}

.GameOver__button code {
  font-weight: 700;
  color: white;
}

.Map {
  display: grid;
  grid-gap: 1px;
  border: 24px solid rgb(63, 63, 63);
}

.Map__cell {
  width: 24px;
  height: 24px;
  background-color: rgb(215, 231, 250);
  transition: transform 0.15s;
  border-radius: 2px;
}

.Map__snake {
  background-color: rgb(0, 184, 31);
  transform: scale(1);
}

.Map__snake_head {
  background-color: rgb(0, 97, 16);
  transform: scale(1);
}

.Map__apple {
  background-color: rgb(241, 74, 74);
  transform: scale(1);
}

.Map__error_cell {
  animation: errorAnimation 1s forwards;
}

@keyframes errorAnimation {
  0% {
    background-color: rgb(0, 184, 31);
  }
  20% {
    background-color: rgb(241, 74, 74);
  }
  40% {
    background-color: rgb(0, 184, 31);
  }
  60% {
    background-color: rgb(241, 74, 74);
  }
  80% {
    background-color: rgb(0, 184, 31);
  }
  100% {
    background-color: rgb(241, 74, 74);
  }
}
